img#card-1-img, .card-content#sandbox {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
img#card-1-img {
	z-index: 1;
	padding: 0px;
	border: 0px;
	height: 100%;
	width: 100%;
}
h3#card-1-h3, p#card-1-p, p#card-1-p2 {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
	z-index: 2;
}
h3#card-1-h3 {
	text-transform: uppercase;
	position: absolute;
	top: 20%;	
}
p#card-1-p, p#card-1-p2 {
	position: absolute;
	top: 35%;	
}
p#card-1-p2 {
	opacity: 0;
	transition: filter 0.3s ease;
	background-color: rgba(255,0,0,0.8);
	color: #FFFFFF;
	border: 1px #000000;
	border-radius: 2px;
	margin: 4px;
	padding: 10px;
}
p#card-1-p {
	opacity: 1;
}
.card-content {
    width: 100%;        
    height: 100%;      
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
:hover.card-content {
    filter: grayscale(0%);
}
#sandbox:hover p#card-1-p {
	opacity: 0;	
}
#sandbox:hover p#card-1-p2 {
	opacity: 1;	
}
img#card-2-img, .card-content#horde {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
img#card-2-img {
	z-index: 1;
	padding: 0px;
	border: 0px;
	height: 100%;
	width: 100%;
}
h3#card-2-h3, p#card-2-p, p#card-2-p2 {
    text-align: center;
	font-family: oxanium, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
	z-index: 2;
}
h3#card-2-h3 {
	text-transform: uppercase;
	position: absolute;
	top: 20%;	
}
p#card-2-p, p#card-2-p2 {
	position: absolute;
	top: 35%;	
}
p#card-2-p2 {
	opacity: 0;
	transition: filter 0.3s ease;
	background-color: rgba(255,0,0,0.8);;
	color: #FFFFFF;
	border: 1px #000000;
	border-radius: 2px;
	margin: 4px;
	padding: 10px;
}
p#card-2-p {
	opacity: 1;
}
.cunt#2 {
    width: 100%;        
    height: 100%;      
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
:hover.cunt#2 {
    filter: grayscale(0%);
}
#horde:hover p#card-2-p {
	opacity: 0;	
}
#horde:hover p#card-2-p2 {
	opacity: 1;	
}
img#card-3-img, .card-content#zbox {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
img#card-3-img {
	z-index: 1;
	padding: 0px;
	border: 0px;
	height: 100%;
	width: 100%;
}
h3#card-3-h3, p#card-3-p, p#card-3-p2 {
    text-align: center;
	font-family: oxanium, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
	z-index: 2;
}
h3#card-3-h3 {
	text-transform: uppercase;
	position: absolute;
	top: 20%;	
}
p#card-3-p, p#card-3-p2 {
	position: absolute;
	top: 35%;	
}
p#card-3-p2 {
	opacity: 0;
	transition: filter 0.3s ease;
	background-color: rgba(255,0,0,0.8);;
	color: #FFFFFF;
	border: 1px #000000;
	border-radius: 2px;
	margin: 4px;
	padding: 10px;
}
p#card-3-p {
	opacity: 1;
}
.cunt#3 {
    width: 100%;        
    height: 100%;      
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
:hover.cunt#3 {
    filter: grayscale(0%);
}
#zbox:hover p#card-3-p {
	opacity: 0;	
}
#zbox:hover p#card-3-p2 {
	opacity: 1;	
}
img#card-4-img, .card-content#shelter {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
img#card-4-img {
	z-index: 1;
	padding: 0px;
	border: 0px;
	height: 100%;
	width: 100%;
}
h3#card-4-h3, p#card-4-p, p#card-4-p2 {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
	z-index: 2;
}
h3#card-4-h3 {
	text-transform: uppercase;
	position: absolute;
	top: 20%;	
}
p#card-4-p, p#card-4-p2 {
	position: absolute;
	top: 35%;	
}
p#card-4-p2 {
	opacity: 0;
	transition: filter 0.3s ease;
	background-color: rgba(255,0,0,0.8);;
	color: #FFFFFF;
	border: 1px #000000;
	border-radius: 2px;
	margin: 4px;
	padding: 10px;
}
p#card-4-p {
	opacity: 1;
}
.cunt#4 {
    width: 100%;        
    height: 100%;      
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
:hover.cunt#4 {
    filter: grayscale(0%);
}
#shelter:hover p#card-4-p {
	opacity: 0;	
}
#shelter:hover p#card-4-p2 {
	opacity: 1;	
}
.card-container > div > div > div > div img{
border-radius: 5px;
}