@font-face {
	font-family: 'Quicksand';
	src: url("fonts/Quicksand-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Quicksand';
	src: url("fonts/Quicksand-Bold.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}

body, html {
	padding: 0; margin: 0;
	width: 100%; height: 100%;
}

body {
	font-family: 'Quicksand';
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	text-shadow: 1px 1px 0px rgb(0, 0, 0);
	color: rgb(255,255,255);
	background-color: black;
	overflow: hidden;
}

video {
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto;
	z-index: -2;
	background-size: cover;
	background-position: center; 
	filter: brightness(30%);
}

#title {
	display: inline-block;
	font-size: 80px;
	margin-top: 12px;
	overflow: hidden;
}

#title img {
	display: block;
}

#status-container {
	position: absolute;
	height: 50px;
	width: 100%;
	top: 50%;
	text-align: center;
	margin-top: -25px;
	font-size: 20px;
	line-height: 18px;
}

#loading {
	display: inline-block;
	width: 80%;
	height: 4px;
	background-color: rgb(79,84,92);
	border-radius: 2px;
}

#loading-progress {
	height: 100%; width: 0%;
	background-color: white;
	border-radius: 2px;
}

#messages {
	margin-top: 20px;
	font-size: 18px;
}
